
a:link,a:visited
{
padding:0;
margin:0;
z-index:1;
display:block;
width:100%;
font-weight:bold;
color:Black;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}


a:hover,a:active
{
color:black;
background-color:none;
}		

#s1
{
background-color:none;
}
body
{
padding:0;
margin:0;
background-image:url("1234.png");
background-repeat:no-repeat;
background-attachment:fixed;
}


#b
{
padding:0;
margin:0;

display: -webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-flex:1;
width:94.125%;
background:red;
}

#b1
{
padding:0;
margin:0;

display: -webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;
-webkit-box-flex:1;
background-color:red;
}






.center_div
{
padding-top:0;
width:80%;
height:1000px;
margin:auto;
background-color:black;	
-webkit-box-flex:1;
}


#e1{
position:fixed;
width:85%;
margin:0;
padding:0;
background-color:blue;	

}

img
{
width:80%;
position:fixed;
z-index:1;
-webkit-box-flex:1;
}


marquee
{
margin-right:0;
resize:both;
overflow:scroll;
}


#c1
 {
position:fixed;
bottom:0;
right:0;
width:10%;
}
#d3
{
display: -webkit-box;
-webkit-box-orient:horizontal;
-webkit-box-pack:center;

-webkit-box-flex:1;
}
*
{
margin:0px;
padding:0px;
}
ul
{
text-align:center;
width:20%;
text-decoration:none;
list-style:none;
}

ul li
{
width:100%;     /*------imp------------otherwise breakdown------*/

float:left;
padding-right:10px;
position:relative;
}

ul a
{
display:table-cell;
vertical-align:middle;
background:red;
color:black;
}

ul a:hover{
width:100%;
background-color:red;
}

li > ul{
display:none;
position:absolute;
left:0;
top:100%;

}


li:hover>ul{
width:100%;
display:block;
}


li>ul li
{
padding:0;
padding-top:2px;
}


li>ul li>ul
{

left:100%;
top:0;
padding-left:1px;

}


li>ul li>ul li{
width:100%;
}

li:hover>a
{
background:red;
}
